In [8]:
import torch
import pandas as pd
import numpy as np

In [9]:
results1=torch.load('results\gloe_no_retrain\glue_results_no_retrain_seed42.pth')
results2=torch.load('results\gloe_no_retrain\glue_results_no_retrain_seed101.pth')
results3=torch.load('results\gloe_no_retrain\glue_results_no_retrain_seed255.pth')
results=[results1,results2,results3]

In [10]:
text_result1={}
for k_runs, runs in results1.items():
    text_result1[k_runs]={}
    for k_run, run in runs.items():
        text_result1[k_runs][k_run]=f"{run[0]*100:,.1f}" if len(run)==1 else f"{run[0]*100:,.1f}/{run[1]*100:,.1f}"
df=pd.DataFrame(text_result1)
df

,cola,sst2,mrpc,stsb,qqp,mnli,qnli,rte,wnli
Original,0.0,81.5,48.8/53.4,34.7/34.9,80.5,65.4/64.2,78.3,52.4,41.1
Norm 1,0.0,66.7,42.3/50.8,23.4/21.0,47.6,33.3/33.5,50.0,50.0,50.2
Norm 1.25,0.0,67.2,42.3/50.8,18.9/17.7,52.4,33.7/33.6,50.0,50.0,44.8
Norm 1.5,0.0,64.9,41.4/50.4,23.6/20.8,49.4,33.1/33.3,50.4,50.4,50.0
Norm 1.75,0.0,69.2,41.4/50.4,21.1/19.2,39.8,35.3/34.8,50.1,50.7,49.1
Norm 2,0.0,69.5,41.4/50.4,19.5/18.6,39.9,36.7/36.5,50.6,50.0,50.0
Norm 1 Cosine,0.0,72.9,43.9/51.6,14.8/13.8,57.5,34.3/34.2,71.7,48.9,51.6
SVD,0.0,54.0,40.6/50.0,4.3/4.6,38.7,33.0/33.2,50.5,50.0,53.0

In [11]:
text_result2={}
for k_runs, runs in results2.items():
    text_result2[k_runs]={}
    for k_run, run in runs.items():
        text_result2[k_runs][k_run]=f"{run[0]*100:,.1f}" if len(run)==1 else f"{run[0]*100:,.1f}/{run[1]*100:,.1f}"
df=pd.DataFrame(text_result2)
df

,cola,sst2,mrpc,stsb,qqp,mnli,qnli,rte,wnli
Original,0.0,80.8,50.0/54.0,16.2/15.6,81.9,64.9/63.4,79.0,55.5,44.3
Norm 1,0.0,72.3,40.6/50.0,10.7/10.1,52.8,33.4/33.4,50.2,50.0,50.0
Norm 1.25,0.0,72.6,40.6/50.0,9.2/8.8,55.4,33.6/33.6,50.3,50.3,50.0
Norm 1.5,0.0,73.1,40.6/50.0,10.0/8.9,43.8,39.3/39.0,50.1,50.3,50.0
Norm 1.75,0.0,67.6,40.6/50.0,10.7/9.5,54.7,33.4/33.4,53.0,50.6,48.9
Norm 2,0.0,69.0,40.6/50.0,12.5/11.7,50.9,33.4/33.4,58.9,50.0,47.3
Norm 1 Cosine,0.0,74.7,40.6/50.0,12.2/11.6,39.4,36.4/36.0,66.5,49.0,50.3
SVD,0.0,53.6,40.6/50.0,5.4/5.5,39.0,33.3/33.6,50.7,50.0,50.0

In [12]:
text_result3={}
for k_runs, runs in results3.items():
    text_result3[k_runs]={}
    for k_run, run in runs.items():
        text_result3[k_runs][k_run]=f"{run[0]*100:,.1f}" if len(run)==1 else f"{run[0]*100:,.1f}/{run[1]*100:,.1f}"
df=pd.DataFrame(text_result3)
df

,cola,sst2,mrpc,stsb,qqp,mnli,qnli,rte,wnli
Original,0.0,81.6,51.2/54.6,59.5/57.8,82.0,65.2/64.0,77.1,55.9,46.9
Norm 1,0.0,72.7,40.6/50.0,32.1/33.9,53.7,37.9/38.1,58.9,50.6,50.0
Norm 1.25,0.0,72.3,40.6/50.0,30.6/32.2,57.9,35.6/35.7,60.9,53.3,50.0
Norm 1.5,0.0,74.6,40.6/50.0,34.0/32.9,41.9,35.8/35.7,62.1,50.8,50.0
Norm 1.75,0.0,69.9,40.6/50.0,30.4/32.5,50.5,35.5/35.0,62.3,53.3,50.0
Norm 2,0.0,69.4,40.6/50.0,32.7/35.8,54.1,40.1/39.0,62.1,49.8,51.3
Norm 1 Cosine,0.0,72.7,41.4/50.4,19.8/19.9,52.8,33.5/33.4,63.6,56.8,45.8
SVD,0.0,50.3,40.6/50.0,7.5/9.0,39.0,33.4/33.3,52.5,50.0,50.0

In [22]:
tot={}
for task in results1.keys():
    if task not in tot:
        tot[task]={}
    for result in results:
        for run in result[task].keys():
            if run not in tot[task]:
                tot[task][run]={'mean':0, 'mean_squares':0}
            tot[task][run]['mean']+=np.array(result[task][run])*100
            tot[task][run]['mean_squares']+=np.square(np.array(result[task][run])*100)

text_tot={}
for task in tot.keys():
    text_tot[task]={}
    for run in tot[task].keys():
        tot[task][run]['mean']=tot[task][run]['mean']/len(results)
        tot[task][run]['mean_squares']=tot[task][run]['mean_squares']/len(results)
        tot[task][run]['variance']=tot[task][run]['mean_squares']-np.square(tot[task][run]['mean'])
        mean=tot[task][run]['mean']
        std=np.sqrt(tot[task][run]['variance'])
        text_tot[task][run]=f"{mean[0]:,.1f}\u00B1{std[0]+0.05:,.1f}" if len(mean)==1 else f"{mean[0]:,.1f}\u00B1{std[0]+0.05:,.1f} / {mean[1]:,.1f}\u00B1{std[1]+0.05:,.1f}"

df=pd.DataFrame(text_tot)
df

,cola,sst2,mrpc,stsb,qqp,mnli,qnli,rte,wnli
Original,0.0±0.1,81.3±0.4,50.0±1.0 / 54.0±0.5,36.8±17.8 / 36.1±17.3,81.4±0.7,65.2±0.3 / 63.9±0.4,78.1±0.8,54.6±1.6,44.1±2.4
Norm 1,0.0±0.1,70.5±2.8,41.2±0.8 / 50.3±0.4,22.0±8.8 / 21.6±9.8,51.4±2.8,34.9±2.2 / 35.0±2.2,53.0±4.2,50.2±0.3,50.1±0.1
Norm 1.25,0.0±0.1,70.7±2.5,41.2±0.8 / 50.3±0.4,19.6±8.8 / 19.6±9.7,55.3±2.3,34.3±1.0 / 34.3±1.1,53.8±5.1,51.2±1.6,48.3±2.5
Norm 1.5,0.0±0.1,70.9±4.3,40.9±0.4 / 50.1±0.2,22.5±9.9 / 20.9±9.8,45.0±3.2,36.1±2.6 / 36.0±2.4,54.2±5.6,50.5±0.2,50.0±0.1
Norm 1.75,0.0±0.1,68.9±1.0,40.9±0.4 / 50.1±0.2,20.7±8.1 / 20.4±9.5,48.3±6.3,34.7±1.0 / 34.4±0.8,55.2±5.3,51.5±1.3,49.3±0.5
Norm 2,0.0±0.1,69.3±0.3,40.9±0.4 / 50.1±0.2,21.6±8.4 / 22.0±10.2,48.3±6.1,36.7±2.8 / 36.3±2.4,57.2±4.9,49.9±0.1,49.5±1.7
Norm 1 Cosine,0.0±0.1,73.4±1.0,42.0±1.4 / 50.6±0.7,15.6±3.2 / 15.1±3.5,49.9±7.7,34.7±1.3 / 34.6±1.1,67.3±3.4,51.6±3.7,49.2±2.5
SVD,0.0±0.1,52.6±1.7,40.6±0.1 / 50.0±0.1,5.7±1.4 / 6.4±2.0,38.9±0.2,33.3±0.2 / 33.4±0.2,51.3±0.9,50.0±0.1,51.0±1.5

In [23]:
print(df.to_latex())

\begin{tabular}{llllllllll}
\toprule
{} &     cola &      sst2 &                 mrpc &                   stsb &       qqp &                 mnli &      qnli &       rte &      wnli \\
\midrule
Original      &  0.0±0.1 &  81.3±0.4 &  50.0±1.0 / 54.0±0.5 &  36.8±17.8 / 36.1±17.3 &  81.4±0.7 &  65.2±0.3 / 63.9±0.4 &  78.1±0.8 &  54.6±1.6 &  44.1±2.4 \\
Norm 1        &  0.0±0.1 &  70.5±2.8 &  41.2±0.8 / 50.3±0.4 &    22.0±8.8 / 21.6±9.8 &  51.4±2.8 &  34.9±2.2 / 35.0±2.2 &  53.0±4.2 &  50.2±0.3 &  50.1±0.1 \\
Norm 1.25     &  0.0±0.1 &  70.7±2.5 &  41.2±0.8 / 50.3±0.4 &    19.6±8.8 / 19.6±9.7 &  55.3±2.3 &  34.3±1.0 / 34.3±1.1 &  53.8±5.1 &  51.2±1.6 &  48.3±2.5 \\
Norm 1.5      &  0.0±0.1 &  70.9±4.3 &  40.9±0.4 / 50.1±0.2 &    22.5±9.9 / 20.9±9.8 &  45.0±3.2 &  36.1±2.6 / 36.0±2.4 &  54.2±5.6 &  50.5±0.2 &  50.0±0.1 \\
Norm 1.75     &  0.0±0.1 &  68.9±1.0 &  40.9±0.4 / 50.1±0.2 &    20.7±8.1 / 20.4±9.5 &  48.3±6.3 &  34.7±1.0 / 34.4±0.8 &  55.2±5.3 &  51.5±1.3 &  49.3±0.5 \\
Norm 2        &  0.0±0.1 &  69.3±0.3 &  40.9±0.4 / 50.1±0.2 &   21.6±8.4 / 22.0±10.2 &  48.3±6.1 &  36.7±2.8 / 36.3±2.4 &  57.2±4.9 &  49.9±0.1 &  49.5±1.7 \\
Norm 1 Cosine &  0.0±0.1 &  73.4±1.0 &  42.0±1.4 / 50.6±0.7 &    15.6±3.2 / 15.1±3.5 &  49.9±7.7 &  34.7±1.3 / 34.6±1.1 &  67.3±3.4 &  51.6±3.7 &  49.2±2.5 \\
SVD           &  0.0±0.1 &  52.6±1.7 &  40.6±0.1 / 50.0±0.1 &      5.7±1.4 / 6.4±2.0 &  38.9±0.2 &  33.3±0.2 / 33.4±0.2 &  51.3±0.9 &  50.0±0.1 &  51.0±1.5 \\
\bottomrule
\end{tabular}

C:\Users\Sam\AppData\Local\Temp\ipykernel_13884\2350534188.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df.to_latex())